// Bootstrap functions and mixins
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/scss/_functions.scss';
// Theme variables to redefine Bootstrap vars
@import '_variables';
@import '_customvars';
// Bootstrap base variables
@import '../node_modules/bootstrap/scss/_variables.scss';
// Base Bootstrap styles
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// Bootswatch rules to override defaults
@import '_bootswatch';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0,0,0,0);
}
.navbar {
  background-image: url('../images/stars.gif');
  background-color: transparent;
}