{% comment %}
Allow to customize the menu that appears at the top of every Evennia
webpage. Copy this file to your game dir's web/template_overrides/website
folder and edit it to add/remove links to the menu.
{% endcomment %}
{% load static %}
<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
      <div class="media">
        <img class="d-flex navbar-brand-logo mx-3" src="{% static "website/images/evennia_logo.png" %}" alt="{{game_name}} logo" />
        <div class="media-body">
          {{ game_name }}<br />
          <small>{{game_slogan}}</small>
        </div>
      </div>
    </a>

    <li class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mg-lg-0">
            {% block navbar_left %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <!-- game views -->
            <li class="nav-item"><a class="nav-link" href="{% url 'characters' %}">Characters</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'channels' %}">Channels</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'help' %}">Help</a></li>
            <!-- end game views -->

            {% if webclient_enabled %}
            <li class="nav-item"><a class="nav-link" href="{% url 'webclient:index' %}">Play Online</a></li>
            {% endif %}

            {% if user.is_staff %}
              <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
              {% if rest_api_enabled %}
                <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
              {% endif %}
            {% endif %}
            {% endblock %}
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
            {% block navbar_right %}
            {% endblock %}

            {% block navbar_user %}
            {% if account %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="user_options" aria-expanded="false">
                {% if puppet %}
                  Welcome, {{ puppet }}! <span class="text-muted">({{ account.username }})</span> <span class="caret"></span>
                {% else %}
                  Logged in as {{ account.username }} <span class="caret"></span>
                {% endif %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="user_options">
                <li><a class="dropdown-item" href="{% url 'character-create' %}">Create Character</a></li>
                <li><a class="dropdown-item" href="{% url 'character-manage' %}">Manage Characters</a></li>
                <li><hr class="dropdown-divider"></li>
                {% for character in account.characters|slice:"10" %}
                  <li><a class="dropdown-item" href="{{ character.web_get_puppet_url }}?next={{ request.path }}">{{ character }}</a></li>
                {% empty %}
                  <li><a class="dropdown-item" href="#">No characters found!</a></li>
                {% endfor %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
            {% endblock %}
        </ul>
    </div>
  </div>
</nav>