{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Evennia Contributors" />
    <meta name="generator" content="Evennia" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{% static "website/images/evennia_logo.png" %}" />

    {% comment %}
    Base Evennia, then our CSS, then whatever's in custom CSS.
    You can edit both SCSS and CSS.
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/website.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/custom.css" %}">

    {% block header_ext %}
    {% endblock %}

    <title>{{game_name}} - {% if flatpage %}{{flatpage.title}}{% else %}{% block titleblock %}{{page_title}}{% endblock %}{% endif %}</title>
  </head>
  <body>
    {% block body %}

    <div id="top"><a href="#main-content" class="sr-only sr-only-focusable">Skip to main content.</a></div>
    {% include "website/_menu.html" %}
    <div class="container main-content mt-4" id="main-copy">
      <div class="row">
        {% if sidebar %}
        <div class="col-4">
          {% block sidebar %}
          {% endblock %}
        </div>
        {% endif %}
        <div class="{% if sidebar %}col-8{% else %}col{% endif %}">
          {% include 'website/messages.html' %}

          {% block content %}
          {% endblock %}

          {% include 'website/pagination.html' %}
        </div>
      </div>
    </div>

    <footer class="footer">
    {% block footer %}
        <div class="container">
          <div class="row justify-content-center">
            <span class="text-white">Powered by <a class="text-white font-weight-bold" href="https://evennia.com">Evennia.</a></span>
          </div>
        </div>
    {% endblock %}
    </footer>

    {% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>
